DEBUG=1
DJANGO_SECRET_KEY=change-me
JWT_SECRET=change-me-too
POSTGRES_DB=custom_auth_db
POSTGRES_USER=custom_auth_user
POSTGRES_PASSWORD=custom_auth_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
